.Button_CurrentPage {
    background: #006A85;
    opacity: 0.5;
    position: absolute;
    width: 100%;
  }
  
  .Buttons{
    /* align-self: center; */
    position: absolute;
    width: 100%;
    padding-top: 30%;
  }
  
  .Button {
    text-align: center;
    font-size: 30px;
    
  }
  