.top {
      min-height: 100vh;
      width: 100%;
      display: flex;
      background: linear-gradient(to right, rgba(34, 87, 121, 0.65) #06A487 24%, 0, #57CC98 100%);
      padding: 20px;
      flex-direction: row; 
      align-items: center; 
      justify-content: space-between; 
}

html {
    font-size: clamp(14px, 2vw, 22px); 
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(to right, #b3d9ff, #a2f0c1); 
    font-size: 1rem; 
  }

  .sideBar {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f7f7f71f;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: solid 1px #f7f7f741;
    box-shadow: 0 0 10px #f7f7f741 inset;
    padding: 0;
    margin: 0;
  }
