

html {
  font-size: clamp(14px, 2vw, 50px); 
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: linear-gradient(115deg, #0D5B8F, #24696A,#368162);
  font-size: 1rem; 
}


.top {
  min-height: 100vh;
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: row; 
  align-items: center; 
  justify-content: space-between; 
} 

/* Для адаптивних екранів */
@media (max-width: 768px) {
  .top {
    flex-direction: column; 
    align-items: center;
  }
  .animal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
  }
}

.animal {
  overflow:hidden;
}

.button-bottom {
  font-size: 1.2rem;
  padding: 0.75rem 2rem;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  display: inline-block; /* Важливо для кнопок */
  animation: example 5s linear 1s infinite alternate;
  transition : ease-in-out delay-500 -translate-y-px-hover duration-700 scale-100-hover all 0.2s rounded-lg shadow-md;
}

.button-bottom:hover {
  transform: scale(1.1) translateY(-3px) rotate(-1deg);
}
.button-bottom::backdrop{
  padding: 25px 0;
  border-radius: 10px;
}














/* Стилі для кнопки в навігації */
.nav-link.button-bottom {
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

/* Додаткові медіа-запити для ще дрібніших екранів */
@media (max-width: 600px) {
  .top {
    padding: 10px;
  }
  .animal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
  }
  
  .animal #animalImage {
    width: 50%;
    max-width: 50%;
    height: auto;
    padding: 50px 0;
    margin: 0;
  }
  .text {
    font-size: clamp(1.8rem, 4vw, 2.5rem);
  }

  .button-bottom {
    font-size: 1.6rem;
    padding: 1.3rem 3.2rem;
  }
  .nav-link {
    margin: 0 10px;
  }
}

#myModal .modal-title
{
  font-size: 2rem;
  color: #37A3A5;
  font-weight: bold;
  text-align: center;
}



/* Адаптивне зображення */
.animal #animalImage {
  width: clamp(50%, 55%, 60%);
  max-width: 60%;
  height: auto;
  padding : 30px 0;
  margin-left: 0px;
  
}



/* Текст */
.text {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}



#myModal .modal-title
{
  font-size: 2rem;
  color: #37A3A5;
  font-weight: bold;
  text-align: center;
}

.button-bottom {
  flex: 1 1 0;                        /* кнопки рівномірно ділять простір */
  min-width: 0;                      /* дозволити стискання */
  padding: 0.3em 0.5em;
  font-size: 30px;   /* плавне масштабування тексту */
  white-space: nowrap;
  display: flex;

  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  max-width: 200px;
  box-sizing: border-box;

}

.button-bottom:hover {
  transform: scale(1.05) translateY(-2px);
}
.button-bottom::backdrop{
  padding: 25px 0;
  border-radius: 10px;
}









/* Футер */
.my-footer {
  background: linear-gradient(to right, #37A3A5, #57CC98);
  padding: 10px 0;
  position:absolute;
  bottom:0;
  width:100%;
  z-index: 10;
}

/* Стилі для навігаційних посилань */
.nav-link {

    text-decoration: none;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;             
    display: inline-block;        
    transition: font-size 0.3s ease;
  
}
.nav-link.active,
.nav-link:hover {
  color: black;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: azure;
  transition: width 0.3s ease;
}

.nav-link.active::after,
.nav-link:hover::after {
  width: 100%;
}

/* Стилі для кнопки в навігації */
.nav-link.button-bottom {
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

/* Додаткові медіа-запити для ще дрібніших екранів */
@media (max-width: 600px) {
  .top {
    padding: 10px;
  }

  .text {
    font-size: clamp(1.8rem, 4vw, 2.5rem);
  }

  .button-bottom {
    font-size: 1.6rem;
    padding: 1.3rem 3.2rem;
  }
  .nav-link {
    margin: 0 10px;
  }
}

#myModal .modal-title
{
  font-size: 2rem;
  color: #37A3A5;
  font-weight: bold;
  text-align: center;
}

